[Unit]
Description=Verify integrity of password and group files
After=systemd-sysusers.service

[Service]
Type=simple
ExecStart=/bin/sh -c '/usr/bin/pwck -r; pwck_status=$?; /usr/bin/grpck -r; grpck_status=$?; exit $((pwck_status | grpck_status))'
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
